<app-default-page title="" [header]="false">
  <div class="content">
     <app-default-content>
       <div class="content--header__logo">
         <img src="../../../../../assets/images/todoo-logo-purple.png" alt="logo todoo">
       </div>
       <div class="content--header__title">
        <h2>Crie a sua conta</h2>
      </div>
       <div class="content--body">
         <for [formGroup]="form">
           <div class="content--body__field">
             <mat-form-field class="example-full-width">
               <mat-label>Nome de usuário</mat-label>
               <input
               type="text"
               matInput
               placeholder="Nome de usuário"
               maxlength="15"
               formControlName="username"/>
               <mat-error *ngIf="form.get('username')?.hasError('required')">*Por favor preencha este campo</mat-error>
               <mat-error *ngIf="form.get('username')?.hasError('minlength')">*Por favor digite um nome de usuário maior</mat-error>
             </mat-form-field>
           </div>
           <div class="content--body__field">
             <mat-form-field class="example-full-width">
               <mat-label>E-mail</mat-label>
               <input
               type="email"
               matInput
               placeholder="E-mail"
               formControlName="email"
               (change)="validateExistingEmail(form.get('email')?.value)"/>
               <mat-error *ngIf="form.get('email')?.hasError('required')">*Por favor preencha este campo</mat-error>
               <mat-error *ngIf="form.get('email')?.hasError('email')">*Por favor digite um e-mail válido</mat-error>
               <mat-error *ngIf="form.get('email')?.hasError('existingEmail')">*Este e-mail já foi cadastrado</mat-error>
             </mat-form-field>
           </div>
           <div class="content--body__field">
             <mat-form-field class="example-full-width">
               <mat-label>Senha</mat-label>
               <input
               type="password"
               matInput
               placeholder="Senha"
               formControlName="password"
               (ngModelChange)="validatePasswordMatch()"/>
               <mat-error *ngIf="form.get('password')?.hasError('required')">*Por favor preencha este campo</mat-error>
               <mat-error *ngIf="form.get('password')?.hasError('minlength')">*Por favor digite uma senha com pelo menos 8 dígitos</mat-error>
             </mat-form-field>
           </div>
           <div class="content--body__field">
             <mat-form-field class="example-full-width">
               <mat-label>Confirme sua senha</mat-label>
               <input
               type="password"
               matInput
               placeholder="Confirme sua senha"
               formControlName="confirmPassword"
               (ngModelChange)="validatePasswordMatch()"
               />
               <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">*Por favor preencha este campo</mat-error>
               <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMatch')">*As senhas não são iguais</mat-error>
             </mat-form-field>
           </div>
         </for >
       </div>
       <div class="content--footer">
        <div class="content--footer__login">
          <default-button value="Criar" type="primary" class="w-100" (click)="sendForm()"></default-button>
        </div>
        <div class="content--footer__hasAccount">
          <span>Já tem uma conta? <span class="login" routerLink="/auth/login">Entrar</span></span>
        </div>
       </div>
     </app-default-content>
  </div>
 </app-default-page>
